<nav class='navbar navbar-dark sticky-top bg-dark p-0 shadow'>
    <h6 class='navbar-brand ml-4 mb-0'>FullDash AIG</h6>
    <form class='col h6 mt-1' method='POST'>{% csrf_token %}
        <ul class='nav'>
            <li class='col'>
                {{ obj.navbar.site }}
            </li>
            <li>
                <button type='submit' class='text-nowrap form-control btn-outline-primary'>Select Network</button>
            </li>
        </ul>
    </form>
</nav>
<div class='container-fluid'>
    <div class='row'>
        <nav class='col-2 bg-light' style='height: 100vh;'>
            <ul class='nav flex-column'>
                <h6 class='ml-2 mt-4 mb-1 text-muted'>Organization</h6>
                <li>
                    <a class='nav-link' href='/fulldash/create/'>Create Network</a>
                </li>
                <h6 class='ml-2 mt-4 mb-1 text-muted'>Current Network</h6>
                <li>
                    <a class='nav-link'
                        href='http://192.168.254.10:6969/fulldash/{{ obj.overview_id }}/update/'>Overview</a>
                </li>
                <li>
                    <a class='nav-link'
                        href='http://192.168.254.10:6969/fulldash/{{ obj.overview_id }}/closets/'>Closets</a>
                </li>
                <li>
                    <a class='nav-link' href='http://192.168.254.10:6969/fulldash/{{ obj.overview_id }}/wanlanding/'>WAN
                        Layer</a>
                </li>
                <li>
                    <a class='nav-link'
                        href='http://192.168.254.10:6969/fulldash/{{ obj.overview_id }}/corelanding/'>Core Layer</a>
                </li>
                <li>
                    <a class='nav-link'
                        href='http://192.168.254.10:6969/fulldash/{{ obj.overview_id }}/serverlanding/'>Server Layer</a>
                </li>
                <li>
                    <a class='nav-link'
                        href='http://192.168.254.10:6969/fulldash/{{ obj.overview_id }}/accesslanding/'>Access Layer</a>
                </li>
            </ul>
        </nav>