<nav class='navbar navbar-dark sticky-top bg-dark p-0 shadow'>
    <h6 class='navbar-brand ml-4 mb-0'>FullDash AIG</h6>
    <form class='col h6 mt-1' method='POST'>{% csrf_token %}
        <ul class='nav'>
            <li class='col'>
                {{ obj.navbar.site }}
            </li>
            <li>
                <button type='submit' name='navbar' class='text-nowrap form-control btn-outline-primary'>Select
                    Network</button>
            </li>
        </ul>
    </form>
</nav>
<div class='container-fluid'>
    <div class='row'>
        <nav class='col-2 bg-light' style='height: 100vh;'>
            <ul class='nav flex-column'>
                <h6 class='ml-2 mt-4 mb-1 text-muted'>Organization</h6>
                <li>
                    <a class='nav-link' href='/fulldash/onboard/'>Create Network</a>
                </li>
                {% if obj.site_id %}
                <h6 class='ml-2 mt-4 mb-1 text-muted'>Current Network</h6>
                <li>
                    <a class='nav-link' href='/fulldash/{{ obj.site_id }}/overview/'>Overview</a>
                </li>
                <li>
                    <a class='nav-link' href='/fulldash/{{ obj.site_id }}/closets/'>Closets</a>
                </li>
                <li>
                    <a class='nav-link' href='/fulldash/{{ obj.site_id }}/wanlanding/'>WAN
                        Layer</a>
                </li>
                <li>
                    <a class='nav-link' href='/fulldash/{{ obj.site_id }}/corelanding/'>Core Layer</a>
                </li>
                <li>
                    <a class='nav-link' href='/fulldash/{{ obj.site_id }}/serverlanding/'>Server Layer</a>
                </li>
                <li>
                    <a class='nav-link' href='/fulldash/{{ obj.site_id }}/accesslisting/'>Access Layer</a>
                </li>
                {% endif %}
            </ul>
        </nav>